body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #a742f5;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.heading {
    color: #fff;
}

.stopwatch {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.display {
    font-size: 36px;
    margin-bottom: 10px;
}

.controls button {
    font-size: 18px;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    cursor: pointer;
    background-color: #a742f5;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.controls button:hover {
    background-color: #7e29c9;
}

.lap-list {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    text-align: left;
}

.lap-list li {
    margin-bottom: 5px;
}

.lap-list {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    text-align: center;
}

.lap-list li {
    padding: 10px;
    background-color: #7e29c9;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 16px;
}
